{% extends 'base.html.twig' %}

{% block body %}
    <h2>Expérience</h2>

    <article class="affichage">
        <a href="https://www.biocoop.fr/nos-engagements/nos-activites/transport"
           class="block experience-professionnel " target="_blank" title="envoie vers le site de entreprise">
            <div class="test">
                <h4 class="Epxerience-professionnel__titre">Assistant transport</h4>
                <p class="Epxerience-professionnel__entreprise"><em>Société des transports Biocoop</em> Tinteniac,
                    France</p>
                <ul >
                    <li class="Epxerience-professionnel__mission__list">Saisir Informatiquement les données</li>
                    <li class="Epxerience-professionnel__mission__list">Répondre au téléphone</li>
                </ul>
            </div>
        </a>
        <a href="https://www.interaction-interim.com/" class="block experience-professionnel " target="_blank"
           title="envoie vers le site de entreprise">
            <div class="test">
                <p class="Epxerience-professionnel__titre ">
                    Diverses missions en intérim (employé libre-service,
                    mise sous pli... )</p>

            </div>
        </a>
        <a href="https://ciblex.eu/" class=" block experience-professionnel" target="_blank"
           title="envoie vers le site de entreprise">
            <div class="test">
                <h4 class="Epxerience-professionnel__titre">Agent de trafic</h4>
                <p class="Epxerience-professionnel__entrprise"><em>Ciblex</em> Cesson-Sévigné, France</p>
                <ul >
                    <li class="Epxerience-professionnel__mission__list">Lire les mails </li>
                    <li class="Epxerience-professionnel__mission__list">Envoyer aux chauffeurs les enlèvements à faire
                        par téléphone ou par fax</li>
                    <li class="Epxerience-professionnel__mission__list">Suivre des réclamations</li>
                    <li class="Epxerience-professionnel__mission__list">Reconditionner les colis fuyants</li>
                    <li class="Epxerience-professionnel__mission__list">Répondre au téléphone</li>
                </ul>
            </div>
        </a>
        <a href="https://www.groupecat.com/?lang=fr" class=" block  experience-professionnel" target="_blank"
           title="envoie vers le site de entreprise">
            <div class="test">
                <h4 class="Epxerience-professionnel__titre">Exploitant </h4>
                <p class="Epxerience-professionnel__entrprise"><em>CAT </em>Noyal-sur-Vilaine, France</p>
                <ul >
                    <li class="Epxerience-professionnel__mission__list">Saisir informatiquement les colis</li>
                    <li class="Epxerience-professionnel__mission__list">Appeler les conducteurs</li>
                    <li class="Epxerience-professionnel__mission__list">Affecter les colis aux différentes tournées</li>
                    <li class="Epxerience-professionnel__mission__list">Informer les agents de quai sur l'heure
                        d'arrivée des axes</li>
                </ul>
            </div>
        </a>
        <a href="https://www.tnt.com/express/fr_fr/site/home.html" class=" block  experience-professionnel"
           target="_blank" title="envoie vers le site de entreprise">
            <div class="test" >

                <h4 class="Epxerience-professionnel__titre">Chef de trafic</h4>
                <p class="Epxerience-professionnel__entrprise"><em>TNT express </em>Saint-Jacques-de-la-Lande,
                    France</p>
                <ul >
                    <li class="Epxerience-professionnel__mission__list">Pointer l’heure d’arrivée des camions, signer
                        les lettres de voiture</li>
                    <li class="Epxerience-professionnel__mission__list">Plomber, déplomber et contrôler les plombs</li>
                    <li class="Epxerience-professionnel__mission__list">Élaborer le planning </li>
                    <li class="Epxerience-professionnel__mission__list">Mettre les formules dans les tableaux Excel</li>

                    <li class="Epxerience-professionnel__mission__list">Préparer et faire un entretien de recrutement de
                        CDD </li>
                </ul>
            </div>
        </a>
    </article>

{% endblock %}

{% block title %}
   <title>Expérience</title>

{% endblock %}
 {% block liencss%}   <link rel="stylesheet" href="{{ asset('css/experience.css') }}"> {% endblock %}

